<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-2">
				{{#link-to 'index'}}<i class="fa fa-chevron-left"></i><span class="back-title">Auktoriteter</span>{{/link-to}}
			</div>
			<div class="col-xs-9">
				<h1>
					{{translateString STRINGS.PAGES.AUTHORITY.TITLE}} 
					{{#if isEditing}}
						<small>({{translateString STRINGS.STATUSSTRINGS.EDITING}})</small>
					{{/if}}
				</h1>
				</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 
	<div class="row">
		<div class="col-xs-10">
			<table class="table table-striped">
				<tr>
					<th>id:</th>
					<td>{{model.id}}</td>
				</tr>
				<tr>
					<th>exampleBool:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.exampleBool}}
						{{else}}
							{{model.exampleBool}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>exampleStr:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.exampleStr}}
						{{else}}
							{{model.exampleStr}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>exampleNum:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.exampleNum}}
						{{else}}
							{{model.exampleNum}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>exampleDate:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.exampleDate}}
						{{else}}
							{{model.exampleDate}}
						{{/if}}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-2">
			<button {{bind-attr class=":btn :btn-sm :btn-success :btn-block isEditing::disabled"}}>Spara</button>
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing::disabled"}} {{action toggleIsEditing}}>Stäng</button>
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing:disabled"}} {{action toggleIsEditing}}>Editera</button>
			<button class="btn btn-sm btn-danger btn-block">Ta bort</button>
		</div>
	</div><!-- end row --> 
</div> <!-- end container --> 