<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-12">
				<h1>
					{{translateString STRINGS.PAGES.PERSONS.TITLE}}
					{{#if isEditing}}
						<small>({{translateString STRINGS.STATUSSTRINGS.EDITING}})</small>
					{{/if}}
				</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 

	<div id="search" class="row">
		<div class="col-xs-6">			
			<div class="input-group">
		      	<input type="text" class="form-control">
				<span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			    </span>
		    </div><!-- /input-group -->
		</div>
		<div class="col-xs-6">
			
		</div>
	</div>
	<div class="row">

		<div id="result-list" class="col-xs-10">
			<div class="row">
				<div class="col-xs-12">
					<ul>
						{{#each item in model}}
							<li>
							{{#if isEditing }}
								{{input type="checkbox" name="markedForRemoval" checked=false}}
							{{/if}}
							{{#link-to 'persons.show' item.id}}{{item.title}} ({{item.id}}) {{/link-to}}

							</li>
						{{/each}}
					</ul>
				</div>
			</div> <!-- end row -->
		</div> 
		<div class="col-xs-2">
			<!--<button {{action 'createAuthority'}} {{bind-attr class=":btn :btn-sm :btn-primary :btn-block"}}>{{translateString STRINGS.BUTTON.CREATE}}</button>-->
			<!--
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing::disabled"}} {{action 'toggleIsEditing'}}>{{translateString STRINGS.BUTTON.CLOSE}}</button>
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing:disabled"}} {{action 'toggleIsEditing'}}>{{translateString STRINGS.BUTTON.EDIT}}</button>
			<button {{bind-attr class=":btn :btn-sm :btn-danger :btn-block isEditing::disabled"}}>{{translateString STRINGS.BUTTON.REMOVE}}</button>
			-->
		</div>
	</div>
</div>