<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-9">
				<h1>
				    {{#if model.title}} {{model.title}} {{else}} {{translateString STRINGS.PAGES.PERSON.TITLE}} {{/if}}
					{{#if isEditing}}
						<small>({{translateString STRINGS.STATUSSTRINGS.EDITING}})</small>
					{{/if}}
				</h1>
				</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 

	{{#if hasErrors}}
		<h4 class="alert alert-danger">{{translateString STRINGS.ERRORS.PERSON.REMOVE_GENERAL}}</h4>
	{{/if}}	

	<div class="row">
		<div class="col-xs-10">
			<table class="table table-striped">
				<tr>
					<th>{{translateString STRINGS.FIELDS.ID}}:</th>
					<td>{{model.id}}</td>
				</tr>
	
				<tr>
					<th>{{translateString STRINGS.FIELDS.TITLE}}:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.title}}
						{{else}}
							{{model.title}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.AUTHORIZED_FORENAME}}:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.authorized_forename}}
						{{else}}
							{{model.authorized_forename}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.AUTHORIZED_SURNAME}}:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.authorized_surname}}
						{{else}}
							{{model.authorized_surname}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.EXISTING_STARTDATE}}:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.startdate}}
						{{else}}
							{{model.startdate}}
						{{/if}}
					</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.EXISTING_ENDDATE}}:</th>
					<td>
						{{#if isEditing}}
							{{input class="form-control" type="text" value=model.enddate}}
						{{else}}
							{{model.enddate}}
						{{/if}}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-2">
			<!--
			<button {{bind-attr class=":btn :btn-sm :btn-success :btn-block isEditing::disabled"}}>{{translateString STRINGS.BUTTON.SAVE}}</button>
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing::disabled"}} {{action 'toggleIsEditing'}}>{{translateString STRINGS.BUTTON.CLOSE}}</button>
			<button {{bind-attr class=":btn :btn-sm :btn-default :btn-block isEditing:disabled"}} {{action 'toggleIsEditing'}}>{{translateString STRINGS.BUTTON.EDIT}}</button>
			<button class="btn btn-sm btn-danger btn-block">{{translateString STRINGS.BUTTON.REMOVE}}</button>
			-->
		</div>
	</div><!-- end row --> 
</div> <!-- end container --> 