<div class="container-fluid">	
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-9">
				<h1>{{translateString STRINGS.PAGES.AUTHORITY.CREATE}}</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 
	{{#if hasErrors}}
		<h4 class="alert alert-danger">{{translateString STRINGS.ERRORS.AUTHORITY.CREATE_GENERAL}}</h4>
	{{/if}}	
	<div class="row">
		<div class="col-xs-10">
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.TITLE}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.title}}
				</label>
			</div>
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.TYPE}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.type}}
				</label>
			</div>
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.AUTHORIZED_FORENAME}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.authorized_forename}}
				</label>
			</div>
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.AUTHORIZED_SURNAME}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.authorized_surname}}
				</label>
			</div>
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.EXISTING_STARTDATE}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.startdate}}
				</label>
			</div>
			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.EXISTING_ENDDATE}}:<br/>
					{{input type='text' classBinding=":form-control" value=model.enddate}}
				</label>
			</div>

			<div>
				<button {{bind-attr class=":btn :btn-sm :btn-success"}} {{action 'saveAuthority'}}>{{translateString STRINGS.BUTTON.SAVE}}</button>
			</div>
		</div>
	</div><!-- end row --> 
</div>