<div class="container-fluid">
	<div class="row">
	  <div id="navtree"></div>
	</div> <!-- end row --> 
   <!--
	<div class="row">
	  <button {{action 'createArchive'}} {{bind-attr class=":btn :btn-sm :btn-primary :btn-block"}}>{{translateString STRINGS.BUTTON.CREATE_ARCHIVE}}</button>
	  <button {{action 'createDisk'}} {{bind-attr class=":btn :btn-sm :btn-primary :btn-block"}}>{{translateString STRINGS.BUTTON.CREATE_DISK}}</button>
	</div> 
    -->
</div> <!-- end container -->
