<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-12">
				<h1>
					{{translateString STRINGS.PAGES.ARCHIVES.TITLE}}
				</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 				

	<div class="row hide">
		<div id="result-list" class="col-xs-10">
			<div class="row">
				<div class="col-xs-12">
					<ul>
						{{#each item in model}}
						<li>{{#link-to 'archives.show' item.id}}{{item.title}} ({{item.id}}) {{/link-to}}</li>
						{{/each}}
					</ul>
				</div>
			</div> <!-- end row -->
		</div> 

		<div class="col-xs-2">
			<button {{action 'createArchive'}} {{bind-attr class=":btn :btn-sm :btn-primary :btn-block"}}>{{translateString STRINGS.BUTTON.CREATE}}</button>

		</div>
	</div>
</div>
