<div class="container-fluid">	
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-3">
				{{#link-to 'authorities'}}<i class="fa fa-chevron-left"></i> <span class="back-title">{{translateString STRINGS.PAGES.AUTHORITIES.TITLE}}</span>{{/link-to}}
			</div>
			<div class="col-xs-9">
				<h1>{{translateString STRINGS.PAGES.ARCHIVE.HEADER}}</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 
	<div class="row">
		<div class="col-xs-10">
			<table class="table table-striped">
				<tr>
					<th>Titel:</th>
					<td>
							{{input class="form-control" type="text" value=model.title}}
					</td>
				</tr>

			</table>
		</div>
		<div class="col-xs-2">
			<button {{bind-attr class=":btn :btn-sm :btn-success"}} {{action 'saveArchive'}}>Spara</button>
		</div>
	</div><!-- end row --> 
</div>