<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-9">
				<h1>
				    {{#if model.title}} {{model.title}} {{else}} {{translateString STRINGS.PAGES.ARCHIVE.TITLE}} {{/if}}
				</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 
	{{#if hasErrors}}
		<h4 class="alert alert-danger">{{translateString STRINGS.ERRORS.ARCHIVE.REMOVE_GENERAL}}</h4>
	{{/if}}	

	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<tr>
					<th>{{translateString STRINGS.FIELDS.ID}}:</th>
					<td>{{model.id}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.PID}}:</th>
					<td>{{model.pid}}</td>
				</tr>
<!--
				<tr>
					<th>{{translateString STRINGS.FIELDS.TITLE}}:</th>
					<td>{{model.title}}</td>
				</tr>
-->
				<tr>
					<th>{{translateString STRINGS.FIELDS.UNIT_TITLE}}:</th>
					<td>{{model.unittitle}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.UNIT_DATE}}:</th>
					<td>{{model.unitdate}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.UNIT_ID}}:</th>
					<td>{{model.unitid}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.ABSTRACT}}:</th>
					<td>{{model.abstract}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.AUTHORITIES}}:</th>
					<td>
						{{#each model.authorities }}{{#link-to 'authorities.show' id}}{{title}} ({{id}}) {{/link-to}}{{/each}}
					</td>
				</tr>							
				<tr>
					<th>{{translateString STRINGS.FIELDS.DISKS}}:</th>
					<td>
						{{#each model.disks }}{{#link-to 'disks.show' id}}{{title}} ({{id}}) {{/link-to}}{{/each}}
					</td>
				</tr>	
			</table>
		</div>
		<div class="col-xs-2">
			<button {{bind-attr class=":btn :btn-sm :btn-danger :btn-block"}} {{action 'deleteArchive'}}>{{translateString STRINGS.BUTTON.REMOVE}}</button>
		</div>	</div><!-- end row --> 
</div> <!-- end container --> 