<div class="container-fluid">	
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-9">
				<h1>{{translateString STRINGS.PAGES.DISK.CREATE}}</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 

	{{#if hasErrors}}
		<h4 class="alert alert-danger">{{translateString STRINGS.ERRORS.DISK.CREATE_GENERAL}}</h4>
		{{#if errors}}
		{{#each errors}}
			{{message}}
		{{/each}}
		{{/if}}
	{{/if}}	
	<div class="row">
		<div class="col-xs-10">

			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.UNIT_TITLE.DISK}}:<br/>
					{{input type='text' classBinding=":form-control" value=disk.item_unittitle}}
				</label>
			</div>


			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.UNIT_ID.DISK}}:<br/>
					{{input type='text' classBinding=":form-control" value=disk.item_unitid}}
				</label>
			</div>

			<div>
				<label class="control-label">{{translateString STRINGS.FIELDS.ARCHIVES}}:<br/>
				{{view Ember.Select classNames="form-control" 
								    contentBinding="controller"
    								selectionBinding="controller.selectedArchives"
    								content=archives 
									optionValuePath="content.id" 
									optionLabelPath="content.title" }}
				</label>
			</div>

			<div>
				<button {{bind-attr class=":btn :btn-sm :btn-success"}} {{action 'saveDisk'}}>{{translateString STRINGS.BUTTON.SAVE}}</button>
			</div>
		</div>
	</div><!-- end row --> 
</div>