<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-9">
				<h1>
				    {{#if model.title}} {{model.title}} {{else}} {{translateString STRINGS.PAGES.DISK.TITLE}} {{/if}}
				</h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 

	{{#if hasErrors}}
		<h4 class="alert alert-danger">{{translateString STRINGS.ERRORS.DISK.REMOVE_GENERAL}}</h4>
	{{/if}}	

	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<tr>
					<th>{{translateString STRINGS.FIELDS.ID}}:</th>
					<td>{{model.id}}</td>
				</tr>

				<tr>
					<th>{{translateString STRINGS.FIELDS.UNIT_TITLE.DISK}}:</th>
					<td>{{model.item_unittitle}}</td>
				</tr>

				<tr>
					<th>{{translateString STRINGS.FIELDS.UNIT_ID.DISK}}:</th>
					<td>{{model.item_unitid}}</td>
				</tr>
				<tr>
					<th>{{translateString STRINGS.FIELDS.ARCHIVES}}:</th>
					<td>
                        {{#each model.archives }}{{#link-to 'archives.show' id}}{{title}} ({{translateString STRINGS.FIELDS.ID}}:{{id}}){{/link-to}}{{/each}}
					</td>
				</tr>							
				<tr>
					<th>{{translateString STRINGS.FIELDS.DISK_IMAGES}}:</th>
					<td>
						{{#each model.diskimages}}
						<a {{action 'openContentBrowser' this}}>{{title}} ({{translateString STRINGS.FIELDS.ID}}:{{id}})</a>
						{{/each}}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-1">
			<button {{bind-attr class=":btn :btn-sm :btn-danger :btn-block"}} {{action 'deleteDisk'}}>{{translateString STRINGS.BUTTON.REMOVE}}</button>
		</div>
	</div><!-- end row --> 
</div> <!-- end container --> 