<div class="container-fluid">
	<div class="page-head">
		<div class="row v-align">
			<div class="col-xs-3">
				{{#link-to 'disks'}}<i class="fa fa-chevron-left"></i> <span class="back-title">{{translateString STRINGS.PAGES.DISKS.TITLE}}</span>{{/link-to}}
			</div>
			<div class="col-xs-9">
				<h1>{{translateString STRINGS.PAGES.DISK.TITLE}} </h1>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end page-head --> 
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<tr>
					<th>id:</th>
					<td>{{model.id}}</td>
				</tr>
				<tr>
					<th>pid:</th>
					<td>{{model.pid}}</td>
				</tr>
				<tr>
					<th>Title:</th>
					<td>{{model.title}}</td>
				</tr>
						
			</table>
		</div>
	</div><!-- end row --> 
</div> <!-- end container --> 